<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0.0" package="com.android.flickrbot">
    

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<application android:label="@string/app_name" android:icon="@drawable/icon"><activity android:name="com.android.flickrbot.FlickrBot"><intent-filter android:label="Configure FlickrBot" android:icon="@drawable/icon"><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.LAUNCHER"></category>
</intent-filter>
<intent-filter android:label="FlickrBot" android:icon="@drawable/icon"><action android:name="android.intent.action.SEND"></action>

<data android:mimeType="image/*"></data>
<category android:name="android.intent.category.DEFAULT"></category>
</intent-filter>
</activity>
</application>
</manifest> 